<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
</head>
<body>
	<footer class="footer-part" style="background-color: #00baa9; padding-top: 60px" th:fragment= "footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-xl-3">
					<div class="footer-widget">
						<a class="footer-logo" href="javascript:void(0);">
							<img src="/images/logo.png" alt="logo" />
						</a>
<!-- 						<p class="footer-desc"> -->
<!-- 						Chúng tôi chỉ cung cấp các sản phẩm thực phẩm có chất lượng cao nhất. -->
<!-- 						 Mọi sản phẩm được lựa chọn cẩn thận và kiểm tra chất lượng trước khi đến tay bạn. -->
<!-- 						</p> -->
						<ul class="footer-social">
							<li><a class="icofont-facebook" href="javascript:void(0);"></a></li>
							<li><a class="icofont-twitter" href="javascript:void(0);"></a></li>
							<li><a class="icofont-linkedin" href="javascript:void(0);"></a></li>
							<li><a class="icofont-instagram" href="javascript:void(0);"></a></li>
							<li><a class="icofont-pinterest" href="javascript:void(0);"></a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6 col-xl-3">
					<div class="footer-widget contact">
						<h3 class="footer-title">Liên hệ chúng tôi</h3>
						<ul class="footer-contact">
							<li><i class="icofont-ui-email"></i>
								<p>
									<span>support@romvang.com</span><span>carrer@romvang.com</span>
								</p></li>
							<li><i class="icofont-ui-touch-phone"></i>
								<p>
								<span>+84 934 310 955</span>
								</p></li>
							<li><i class="icofont-location-pin"></i>
								<p>165 Dương Quảng Hàm/ Quan Hoa/ Cầu Giấy/ Hà Nội</p></li>
						</ul>
					</div>
				</div>

				<div class="col-sm-6 col-xl-3">
					<div class="footer-widget">
						<h3 class="footer-title">Thông tin cửa hàng</h3>
						<div class="footer-links">
							<ul>
								<li><a href="javascript:void(0);">Thông tin giao hàng</a></li>
								<li><a href="javascript:void(0);">Tìm kiếm nâng cao</a></li>
								<li><a href="javascript:void(0);">Trợ giúp & câu hỏi</a></li>
								<li><a href="javascript:void(0);">Đơn hàng & trả hàng</a></li>
							</ul>
							
						</div>
					</div>
				</div>
				
				<div class="col-sm-6 col-xl-3">
					<div class="footer-widget">
						<h3 class="footer-title">Thời gian mở cửa</h3>
						<div class="footer-links">
							<ul>
								<li><a href="javascript:void(0);">Tất cả các ngày trong tuần: 8h-23h</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			
			
			<div class="row">
				<div class="col-12">
					<div class="footer-bottom">
						<p class="footer-copytext">&copy; Developer by CuongFPT</p>
						<div class="footer-card">
							<a href="javascript:void(0);">
								<img src="/images/payment/jpg/01.jpg" alt="payment" />
							</a>
							<a href="javascript:void(0);">
								<img src="/images/payment/jpg/02.jpg" alt="payment" />
							</a>
							<a href="javascript:void(0);">
								<img src="/images/payment/jpg/03.jpg" alt="payment" />
							</a>
							<a href="javascript:void(0);">
								<img src="/images/payment/jpg/04.jpg" alt="payment" />
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</footer>
</body>
</html>